.bg-container{
    background-image: url('./images/banner2.jpg');
    height: 500px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.quote{
    font-family: cursive;
}
.quoter{
    margin-left: 480px;
    color: coral;
}